body
{
    background-color: #707070;
}

article
{
    margin: 5px 5px 5px 5px;
    padding: 5px 10px 1px 10px;
    max-width: 30%;
    min-width: 300px;
    background-color: #ffffff;
    float: left;
    border-radius: 10px;
}

article > h1
{
    text-align: center;
    margin: 5px auto -5px;
    padding: 4px 0px 4px 0px;
    font-size: 26px;
    background-color: #2699FB;
    color: #FFFFFF;
    border-radius: 5px;
}

article > h2
{
    text-align: center;
    margin: 20px auto -10px;
    padding: 3px 0px 3px;
    color: #ffffff;
    background-color: #2699FB;
    border-radius: 5px;
    font-size: 21px;
}

article > p
{
    font-size: 18px;
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 5px auto 5px auto;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
}